<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="/static/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="/static/css/tiny-slider.css" />
    <link rel="stylesheet" href="/static/css/aos.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Gurkha Gateway: Real estate company &mdash;</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div
      class="fixed inset-0 bg-gray-300 bg-opacity-75 flex items-center justify-center"
    >
      <div class="bg-white p-6 w-1/2 relative">
        <h1 class="mx-auto text-2xl text-center">{{ request.GET.property_name }}</h1>
        <form
          id="appointmentForm"
          class="grid grid-cols-2 gap-4"
          action="{% url 'booking' %}"
          method="post"
        >
          {% csrf_token %}
          <input
            type="text"
            name="property"
            hidden
            value="{{request.GET.property_id}}"
          />
          <input type="text" name="user" hidden value="{{ request.user.id }}" />
          <div class="mb-4">
            <label for="appointmentDate">Date:</label>
            <input
              type="date"
              id="appointmentDate"
              name="date"
              class="w-full border p-2"
              required
            />
          </div>

          <div class="mb-4">
            <label for="appointmentDescription">Additional Notes:</label>
            <textarea
              id="appointmentDescription"
              name="note"
              class="w-full border p-2"
            ></textarea>
          </div>
          {% if request.GET.property_type == "Sale" %}
          <button
            type="submit"
            class="col-span-2 bg-[#2d6904] text-white px-4 py-2 rounded"
          >
            Buy
          </button>
          {% else %}
          <button
          type="submit"
          class="col-span-2 bg-[#2d6904] text-white px-4 py-2 rounded"
        >
          Rent
        </button>
          {% endif %}
          <a
            href="/properties"
            class="col-span-2 bg-[#2d6904] text-white px-4 py-2 rounded text-center"
          >
            Back to properties
          </a>
        </form>
      </div>
    </div>
    <script>
      // Function to hide the alert after a delay
      window.addEventListener("DOMContentLoaded", function () {
        var alert = document.querySelector(".alert");
        if (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 3000);
        }
      });
    </script>
    </script>
    <script>
      var today = new Date();
  
      var tomorrow = new Date(today);
      tomorrow.setDate(today.getDate() + 1);
  
      var tomorrowFormatted = tomorrow.toISOString().split('T')[0];
  
      document.getElementById("appointmentDate").setAttribute("min", tomorrowFormatted);
  </script>
  </body>
</html>
