<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/static/css/alert.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
    {% if error %}
    <div id="errorMessage" class="alert alert-danger d-flex align-items-center" style="
    width: 15rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-direction: row;"   
    role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
            style="height: 10px; width: 20px" role="img" aria-label="Warning:">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div>Email doesnot exists</div>
    </div>

    {% endif %}

    <div class="container m-5">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center" style="font-size: 3rem;">Forgot Password?</h2>
                            <p style="font-size: 18px;">You can reset your password here.</p>
                            <p style="font-size: 18px">Note: Insert the Same Valid Email Address that was used while
                                Registring.</p>
                            <div class="form-holder">
                                <div class="form-content">
                                    <div class="form-items">

                                        <form method="post">
                                            {% csrf_token %}
                                            <input class="form-control" type="text" name="resetemail"
                                                placeholder="E-mail Address" required style="font-size: 16px">
                                            <div class="form-button full-width">
                                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3"
                                                    style="font-size: 18px">Send Password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        setTimeout(function() {
          var errorMessage = document.getElementById('errorMessage');
          errorMessage.parentNode.removeChild(errorMessage);
        }, 3000); 
      </script>
</body>

</html>