<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex justify-center items-center h-screen">
    <div
      class="container mx-auto max-w-lg bg-white p-8 rounded-lg shadow-md relative"
    >
      <label for="imageUpload">
        <img
          id="profileImage"
          src="https://source.unsplash.com/random/200x200"
          alt="Profile Image"
          class="mx-auto rounded-full w-32 h-32 mb-8 cursor-pointer"
        />
        <input type="file" id="imageUpload" style="display: none" />
      </label>
      <form id="profileForm" class="flex flex-wrap">
        <input
          type="text"
          id="name"
          placeholder="Name"
          required
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
        />
        <input
          type="email"
          id="email"
          placeholder="Email"
          required
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
        />
        <input
          type="tel"
          id="number"
          placeholder="Phone Number"
          required
          class="w-full px-4 py-2 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
        />
        <button
          type="submit"
          class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:bg-blue-600"
        >
          Save Changes
        </button>
      </form>
      <button
        
        class="w-full bg-blue-500 mt-4 text-white font-bold py-2 px-4 rounded focus:outline-none focus:bg-blue-600"
      >
      <a href= 'logout'>
        Logout
        <a/>
       
      </button>
      <a
        href="changepassword"
        class="block text-center mt-4 text-blue-500 font-semibold  right-4"
        >Change Password??</a
      >
    </div>

   
   

    <script>
      document
        .getElementById("imageUpload")
        .addEventListener("change", function (e) {
          const file = e.target.files[0];
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("profileImage").src = e.target.result;
          };
          reader.readAsDataURL(file);
        });

      
    </script>
  </body>
</html>
