<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="static/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="static/css/tiny-slider.css" />
    <link rel="stylesheet" href="static/css/aos.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <style>
      img {
        height: 50px;
        max-width: "100%";
        object-fit: cover;
      }
    </style>
  </head>

  <body class="bg-gray-100 h-screen">
    {% include "navbar.html" %} {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div
      class="container flex flex-column items-center mx-auto max-w-lg p-8 rounded-lg relative"
    >
      <div
        class="flex flex-wrap justify-center items-center w-full md:w-4/5 pt-28"
      >
        <form
          id="profileForm"
          class="flex flex-column items-center w-2/3 shadow-lg py-6 px-6"
          method="post"
          action="{% url 'profile_page' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <label for="imageUpload">
            {% if image.url != NONE %}
            <img
              id="profileImage"
              src="{{ image.url }}"
              name="image"
              alt="Profile Image"
              class="mx-auto rounded-full w-32 h-32 mb-8 cursor-pointer shadow-lg"
            />
            {% else %}
            <img
              id="profileImage"
              src="static/images/profile.jpg"
              name="image"
              alt="Profile Image"
              class="mx-auto rounded-full w-32 h-32 mb-8 cursor-pointer shadow-lg"
            />
            {% endif %}
            <input
              type="file"
              name="image"
              id="imageUpload"
              style="display: none"
            />
          </label>
          <input
            type="text"
            id="name"
            placeholder="Name"
            name="name"
            value="{{name}}"
            required
            class="w-full px-4 py-2 mb-4 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-#d53f8c;"
          />
          <input
            type="email"
            id="email"
            placeholder="Email"
            name="email"
            value="{{email}}"
            required
            class="w-full px-4 py-2 mb-4 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-[#2d6904]"
          />
          <input
            type="tel"
            id="number"
            placeholder="Phone Number"
            name="number"
            value="{{number}}"
            required
            class="w-full px-4 py-2 mb-4 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-[#0291dd]"
          />
          <button
            type="submit"
            class="w-1/3 text-white font-bold py-2 px-4 rounded focus:outline-none"
            style="background-color: #0291dd"
          >
            Save Changes
          </button>
          <a
            href="sell-property"
            class="w-1/3 mt-4 text-white text-center font-bold py-2 px-4 rounded focus:outline-none focus:bg-[#0291dd]"
            style="background-color: #0291dd;color: white;"
          >
            Sell Your Property
          </a>
          <a
            class="w-1/3 mt-4 text-white text-center font-bold py-2 px-4 rounded focus:outline-none focus:bg-[#0291dd]"
            style="background-color: #0291dd;color: white;"
            href="logout"
          >
            Logout
          </a>
          <a
            href="changepassword"
            class="block text-center mt-4 text-[#0291dd] font-semibold right-4"
            >Change Password??</a
          >
        </form>
      </div>
    </div>
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        var alert = document.querySelector(".alert");
        if (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 3000);
        }
      });
      document
        .getElementById("imageUpload")
        .addEventListener("change", function (e) {
          const file = e.target.files[0];
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById("profileImage").src = e.target.result;
          };
          reader.readAsDataURL(file);
        });
    </script>
  </body>
</html>
