<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="md:flex justify-center items-center w-[100%] h-screen mx-auto my-auto">
        <form class="flex flex-col justify-center items-center px-10 w-full md:w-[400px] py-20 shadow-lg rounded-md" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <img class="w-20 h-20 rounded-full" src="/static/images/realstate-logo.png" alt="">
            <h1 class="font-bold text-3xl mt-20">Register here...</h1>
            <input class="w-full h-[50px] mt-10 border-2 px-5 rounded-md" type="text" name="name" placeholder="Enter your name..." required>
            <input class="w-full h-[50px] mt-3 border-2 px-5 rounded-md" type="email" name="email" placeholder="Enter your email address..." required>
            <input class="w-full h-[50px] mt-3 border-2 px-5 rounded-md" type="tel" name="phone" placeholder="Enter your number..." required>
            <input class="w-full h-[50px] mt-3 mb-8 border-2 px-5 rounded-md" type="password" name="password" placeholder="Enter your password..." required>
            <button class="bg-black text-white py-3 px-10" type="submit">Signup</button>
            <a class=" text-black-500 py-3 px-10" href="login">Already Member ? <span style=":hover:underline"> Click here</span></a>

        </form>
    </main>
</body>
</html>